<app-navbar></app-navbar>

<!-- app stadistics -->

<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Libros</span>
                        <div class="text-900 font-medium text-xl">{{numOfBooks}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-book text-blue-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Libros Leídos</span>
                        <div class="text-900 font-medium text-xl">{{numberOfFinishedBooks}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-check-circle text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Libros Físicos</span>
                        <div class="text-900 font-medium text-xl">{{numberOfphysicalBooks}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Libros Digitales</span>
                        <div class="text-900 font-medium text-xl">{{numberOfDigitalBooks}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-file text-purple-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- accion accoridion -->

<div class="m-8">
    <p-accordion class="w-full" [activeIndex]="activeIndex">
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <i class="pi pi-sign-in mr-2"></i>
                    <span class="vertical-align-middle">Inserta un libro nuevo</span>
                    <i class="pi pi-cog ml-2 ml-2"></i>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <!-- insert a book -->
                <div class="surface-card p-4 shadow-2 border-round">
                    <form autocomplete="off" [formGroup]="bookForm" (ngSubmit)="saveBook()">
                        <div class="grid formgrid p-fluid flex">

                            <div class="field mb-3 col-6">
                                <label for="titleInput" class="font-medium">Titulo*</label>
                                <input id="titleInput" formControlName="titleInput" pinputtext
                                    class="p-inputtext p-component p-element" type="text">
                                <p-message severity="error" text="Debe de haber entre 1
                                   y 100 caracteres" *ngIf="validFieldBooks('titleInput')"></p-message>

                            </div>
                            <div class="field mb-3 col-6">
                                <label for="authorInput" class="font-medium">Autor*</label>
                                <input id="authorInput" formControlName="authorInput" pinputtext
                                    class="p-inputtext p-component p-element" type="text">
                                <p-message severity="error" text="Debe de haber entre 1
                                   y 50 caracteres" *ngIf="validFieldBooks('authorInput')"></p-message>
                            </div>
                            <div class="field mb-3 col-6 ">
                                <label for="genreInput" class="font-medium">Género*</label>
                                <p-multiSelect [options]="genres" display="chip" optionLabel="title"
                                    formControlName="genreInput"></p-multiSelect>
                                <p-message severity="error" text="Debe haber al menos un género"
                                    *ngIf="validFieldBooks('genreInput')"></p-message>
                            </div>

                            <div class="field mb-3 col-6">
                                <label for="seriesNumberInput" class="font-medium">Número de libros</label>
                                <input id="seriesNumberInput" formControlName="booksNumberInput" pinputtext
                                    class="p-inputtext p-component p-element" type="number">
                                <p-message severity="error" text="Tiene que ser un numero
                                    mayor a 0" *ngIf="validFieldBooks('booksNumberInput')"></p-message>
                            </div>

                            <!-- añadir controlador de date -->
                            <div class="field mb-3 col-6">
                                <label for="dateInput" class="font-medium">Fecha de salida</label>
                                <p-calendar id="dateInput" [firstDayOfWeek]="1" dateFormat="dd/mm/yy"
                                    formControlName="publishDateInput" [showIcon]="true"></p-calendar>
                            </div>
                            <div class="field mb-3 col-6">
                                <label for="pagesNumberInput" class="font-medium">Número de páginas</label>
                                <input id="pagesNumberInput" formControlName="pagesNumberInput" pinputtext
                                    class="p-inputtext p-component p-element" type="number">
                                <p-message severity="error" text="Tiene que ser un numero
                                    mayor a 0" *ngIf="validFieldBooks('pagesNumberInput')"></p-message>

                            </div>
                            <div class="field mb-4 col-12">
                                <label for="imageInput" class="font-medium">Imagen</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">www</span>
                                    <input id="imageInput" formControlName="imageInput" type="text" pinputtext
                                        class="p-inputtext p-component p-element">
                                </div>
                            </div>
                            <div class="field mb-4 col-12">
                                <label for="imageAutorInput" class="font-medium">Imagen del autor</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">www</span>
                                    <input id="imageAutorInput" formControlName="imageAuthorInput" type="text"
                                        pinputtext class="p-inputtext p-component p-element">
                                </div>
                            </div>
                            <div class="surface-100 mb-3 col-12" style="height: 2px;">
                            </div>
                            <div class="field mb-4 col-12 md:col-6">
                                <label for="publisher" class="font-medium">Editorial*</label>
                                <input id="publisher" formControlName="publisherInput" type="text" pinputtext
                                    class="p-inputtext p-component p-element">
                                <p-message severity="error" text="Debe de haber entre 1
                                    y 50 caracteres" *ngIf="validFieldBooks('publisherInput')"></p-message>
                            </div>
                            <div class="field mb-3 col-6">
                                <label for="ISBNInput" class="font-medium">ISBN</label>
                                <input id="ISBNInput" pinputtext formControlName="ISBNInput"
                                    class="p-inputtext p-component p-element" type="text">
                            </div>

                            <div class="field mb-3 col-8">
                                <label for="descriptionInput" class="font-medium">Descripción</label>
                                <textarea id="descriptionInput" pInputTextarea [autoResize]="true"
                                    formControlName="descriptionInput">
                                    </textarea>
                            </div>
                            <div class="field mb-3 col-4">
                                <label class="pb-3" for="descriptionInput" class="font-medium">Libro en físico</label>

                                <p-selectButton [options]="stateOptions" formControlName="physBooknput"
                                    optionLabel="label" optionValue="physBooknput" optionLabel="label"
                                    optionValue="value">
                                </p-selectButton>

                            </div>
                            <div class="field mb-3 col-2"></div>
                            <div class="surface-100 mb-3 col-12" style="height: 2px;"></div>
                            <p-toast></p-toast>
                            <p-fileUpload (uploadHandler)="onUpload($event)" [customUpload]=true skinSimple="true"
                                class="w-full" chooseLabel="Subir libro" uploadLabel="Refrescar" cancelLabel="Cancelar"
                                [showUploadButton]=true [multiple]=true accept=".pdf, .epub, .mobi">
                                <ng-template pTemplate="toolbar">
                                    <div class="py-3">1- Subir libro o arrastrar y soltar. Permite un formato mobi, epub o pdf</div>
                                    <div class="py-3">2- Pulsar en Refrescar</div>
                                </ng-template>
                                <ng-template pTemplate="content">
                                    <ul class="w-full" *ngIf="uploadedFiles.length">
                                        <li class="w-full" *ngFor="let file of uploadedFiles">{{ file.name }} - {{
                                            file.size }} bytes
                                        </li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                            <div class="flex w-full justify-content-center">
                                <button type="submit" class="flex" pripple="" label="Save Book"
                                    class=" w-auto mt-3 p-button p-component"> Guardar Libro </button>
                            </div>


                        </div>
                    </form>
                </div>
                <!-- end insert a book -->
            </ng-template>
        </p-accordionTab>

        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <i class="pi pi-search mr-2"></i>
                    <span class="vertical-align-middle">Buscar libros externos</span>
                </div>

            </ng-template>
            <ng-template pTemplate="content">
                <!-- search by api -->
                <div class="surface-card p-4 shadow-2 border-round w-full">
                    <div class="grid formgrid p-fluid w-full ">
                        <div class="field mx-6 mb-4 col-11">
                            <span class="p-input-icon-right border-round">
                                <i class="pi pi-search"></i>
                                <input class="w-full" type="text" pInputText [formControl]="inputSearch"
                                    (keyup)="searchFilter()" placeholder="Escribe un {{selectFilter}}" />
                            </span>
                        </div>
                    </div>
                </div>



                <div class="surface-card p-4 shadow-2 border-round" *ngIf="inputSearch.value !== ''">
                    <div class="bg-white flex">
                        <ng-container
                            *ngIf="this.foundBooks.data !== undefined ; else notFound">
                            <ng-container
                                *ngIf="foundBooks.data.cover && foundBooks.data.cover.large !== undefined; else elseTemplate">
                                <img src="{{foundBooks.data.cover.large}}" alt=""
                                    class="flex bg-cover bg-center flex-wrap my-5 mx-1"
                                    style="width: 150px; height: 200px;">
                            </ng-container>
                            <ng-template #elseTemplate>
                                <img src="../../../../assets/images/photoNotFound.png" alt=""
                                    class="flex bg-cover bg-center flex-wrap my-5 mx-1"
                                    style="width: 150px; height: 200px;">
                            </ng-template>
                            <div class="flex-1 flex h-full font-bold m-2 justify-content-between">
                                <div class="flex flex-column justify-content-around flex-wrap">
                                    <div class="flex align-items-center ">{{foundBooks.data.title}}</div>
                                    <div class="flex align-items-center font-light" *ngIf="foundBooks.data.excerpts">
                                        {{foundBooks.data.excerpts[0].text}}
                                    </div>
                                    <div class="flex align-items-center font-light" *ngIf="foundBooks.data.authors">
                                        {{foundBooks.data.authors[0].name}}
                                    </div>
                                    <div class="flex align-items-center font-light" *ngIf="foundBooks.data.publishers">
                                        {{foundBooks.data.publishers[0].name}} </div>
                                </div>

                            </div>
                            <div class="flex">
                                <div class="flex align-items-end justify-content-end">
                                    <span *ngIf="foundBooks.data.number_of_pages != undefined "
                                        class="flex text-white bg-gray-500 my-4 px-3 font-light ">
                                        {{foundBooks.data.number_of_pages}} pág.</span>
                                </div>
                            </div>


                            <div class="flex flex-column m-2">
                                <!-- <p-splitButton class="flex justify-content-end" label="Gestionar" [model]="this.optionsItems"
                            (onClick)="options('info')"
                            styleClass="p-button-outlined p-button-warning mr-2 mb-2"></p-splitButton> -->

                                <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-save"
                                    styleClass="p-button-rounded p-button-warning" (onClick)="getBookData()"></p-button>

                            </div>
                        </ng-container>
                        <ng-template #notFound>
                            <p>No se han encontrado coincidencias </p>
                        </ng-template>
                    </div>

                </div>
            </ng-template>
        </p-accordionTab>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <i class="pi pi-user mr-2"></i>
                    <span class="vertical-align-middle">Administrar usuarios</span>
                    <i class="pi pi-cog ml-2 ml-2"></i>
                </div>
            </ng-template>
            <ng-template pTemplate="content">

                <div class="w-full flex justify-content-end ">
                    <p-button styleClass='p-button-success' class="flex mr-2" (click)="downloadUsersData(users)"
                        icon="pi pi-plus" label="Descargar datos de usuario"></p-button>
                    <p-button styleClass='p-button-success' class="flex " (click)="showDialog()" icon="pi pi-plus"
                        label="Nuevo usuario"></p-button>
                </div>
                <p-toast></p-toast>
                <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Admin</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.fullName }}</td>

                            <td>
                                <ng-container *ngIf="(user.admin); else otherButton">
                                    <p-button label='Sí' styleClass="p-button-success p-button-text"
                                        (click)="letAdmin(user)">
                                    </p-button> </ng-container>
                                <ng-template #otherButton>
                                    <p-button label='No' styleClass='p-button-text' (click)="letAdmin(user)"></p-button>
                                </ng-template>
                            </td>
                            <td><p-confirmPopup></p-confirmPopup>
                                <p-button (click)="deleteUser($event, user.id )" icon="pi pi-trash"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
</div>


<p-dialog header="Registar a un usuario" [(visible)]="showRegister" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="surface-card p-4 shadow-2 border-round">
            <div class="grid formgrid p-fluid mb-6">
                <div class="field mb-4 col-12">
                    <label for="fullname" class="font-medium">Nombre</label>
                    <input id="fullname" pinputtext class="p-inputtext p-component p-element"
                        formControlName="nameInput" type="text">
                    <p-message severity="error" text="Debe de haber entre 1
                    y 50 caracteres" *ngIf="validFieldRegister('nameInput')"></p-message>
                </div>
                <div class="surface-100 mb-3 col-12" style="height: 2px;">
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="email" class="font-medium">Email</label>
                    <input id="email" type="text" pinputtext formControlName="emailInput"
                        class="p-inputtext p-component p-element">
                    <p-message severity="error" text="Tienes que poner un correo"
                        *ngIf="validFieldRegister('emailInput')"></p-message>
                    <p-message severity="error" text="Este correo ya existe" *ngIf="emailExist"></p-message>

                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="password" class="font-medium">Contraseña</label>
                    <p-password id="password" formControlName="passwordInput" [toggleMask]="true"></p-password>
                    <p-message severity="error" text="Debe de tener entre 6
                                   y 25 caracteres, signos, mayusculas y numeros"
                        *ngIf="validFieldRegister('passwordInput')"></p-message>
                </div>

                <div class="col-12 flex align-items-center justify-content-center flex-column">
                    <p-button class="mt-3 flex" type="submit">Registrar Usuario</p-button>
                </div>
            </div>
        </div>
    </form>
</p-dialog>

<app-footer></app-footer>