<app-navbar></app-navbar>
<div class="w-full flex justify-content-between align-items-center flex-row flex-wrap px-4 pt-2">
    <p class="flex pt-3 font-bold text-2xl">Edite el libro</p> 
</div>
<!-- insert a book -->
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<div class="surface-card xl:m-8 lg:m-8 md:m-8 p-4 shadow-2 border-round mb-8">
    <form autocomplete="off" [formGroup]="bookForm" (ngSubmit)="saveBook()">
        <div class="grid formgrid p-fluid flex ">

            <div class="field mb-4 col-12 md:col-6">
                <label for="titleInput" class="font-medium">Titulo*</label>
                <input id="titleInput" formControlName="titleInput" pinputtext class="p-inputtext p-component p-element"
                    type="text">
                <p-message severity="error" text="Debe de haber entre 1
                       y 50 caracteres" *ngIf="validField('titleInput')"></p-message>

            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="authorInput" class="font-medium">Autor*</label>
                <input id="authorInput" formControlName="authorInput" pinputtext
                    class="p-inputtext p-component p-element" type="text">
            </div>
            
            <div class="field mb-3 col-6 ">
                <label for="genreInput" class="font-medium">Género*</label>
                <p-multiSelect [options]="genres" display="chip" optionLabel="title" formControlName="genreInput"></p-multiSelect>
                <p-message severity="error" text="Debe haber al menos un género" *ngIf="validField('genreInput')"></p-message>
            </div>
            <div class="field mb-3 col-6">
                <label for="seriesNumberInput" class="font-medium">Número de libros</label>
                <input id="seriesNumberInput" formControlName="booksNumberInput" pinputtext
                    class="p-inputtext p-component p-element" type="number">
                <p-message severity="error" text="Tiene que ser un numero
                        mayor a 0" *ngIf="validField('booksNumberInput')"></p-message>
            </div>

            <!-- añadir controlador de date -->
            <div class="field mb-3 col-6">
                <label for="dateInput" class="font-medium">Fecha de salida</label>
                <p-calendar id="dateInput"  dateFormat="dd/mm/yy" formControlName="publishDateInput" [showIcon]="true"></p-calendar>
            </div>
            
            <div class="field mb-3 col-6">
                <label for="seriesNumberInput" class="font-medium">Número de páginas</label>
                <input id="seriesNumberInput" formControlName="pagesNumberInput" pinputtext
                    class="p-inputtext p-component p-element" type="number">
                <p-message severity="error" text="Tiene que ser un numero
                        mayor a 0" *ngIf="validField('pagesNumberInput')"></p-message>

            </div>
            <div class="field mb-4 col-12">
                <label for="imageInput" class="font-medium">Imagen</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">www</span>
                    <input id="imageInput" formControlName="imageInput" type="text" pinputtext
                        class="p-inputtext p-component p-element">
                </div>
            </div>
            <div class="field mb-4 col-12">
                <label for="imageAuthorInput" class="font-medium">Imagen del autor</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">www</span>
                    <input id="imageAuthorInput" formControlName="imageAuthorInput" type="text" pinputtext
                        class="p-inputtext p-component p-element">
                </div>
            </div>
            <div class="surface-100 mb-3 col-12" style="height: 2px;">
            </div>
            <div class="field mb-4 col-12 md:col-6">
                <label for="publisher" class="font-medium">Editorial*</label>
                <input id="publisher" formControlName="publisherInput" type="text" pinputtext
                    class="p-inputtext p-component p-element">
            </div>
            <div class="field mb-3 col-6">
                <label for="ISBNInput" class="font-medium">ISBN</label>
                <input id="ISBNInput" pinputtext formControlName="ISBNInput" class="p-inputtext p-component p-element"
                    type="text">
            </div>
            <div class="field mb-3 col-8">
                <label for="descriptionInput" class="font-medium">Descripción</label>
                <textarea id="descriptionInput" pInputTextarea [autoResize]="true" formControlName="descriptionInput">
                    </textarea>
            </div>
            <div class="field mb-3 col-4">
                <label class="pb-3" for="descriptionInput" class="font-medium">Libro en físico</label>

                <p-selectButton [options]="stateOptions" formControlName="physBooknput" optionLabel="label"
                    optionValue="physBooknput" optionLabel="label" optionValue="value"></p-selectButton>

            </div>
            <div class="surface-100 mb-3 col-12" style="height: 2px;"></div>

            <div class="flex flex-row justify-content-evenly flex-wrap w-full flex-row pb-3" *ngIf="currentBook">
                <div *ngFor="let file of currentBook.files" class="flex m-1">
                    <p-confirmPopup></p-confirmPopup>
                    <a pButton (click)="confirmDelete($event, file.route)" icon="pi pi-times"
                        [ngStyle]="{'width': '100px', 'background-color': 'rgb(229, 57, 53)'}">
                        <img style="width: 3rem; height: 3rem;"
                            src="../../../../assets/images/utils/iconapplication/icon{{file.format}}.svg"
                            alt="{{file.format}} icon">
                    </a>
                </div>
            </div>


            <p-fileUpload (uploadHandler)="onUpload($event)" [customUpload]=true class="field mb-4 col-12 md:col-12"
                chooseLabel="Subir libro" uploadStyleClass="p-button-secondary"  cancelStyleClass="p-button-danger" uploadLabel="Refrescar" labe cancelLabel="Cancelar" [showUploadButton]=true
                [multiple]=true accept=".pdf, .epub, .mobi">
                <ng-template pTemplate="toolbar">
                    <div *ngIf="!isMobile">
                        <div class="py-3">1- Subir libro o arrastrar y soltar. Permite un formato
                            formato mobi, epub o pdf</div>
                        <div class="py-3">2- Pulsar en Refrescar</div>
                    </div>
                    <div *ngIf="isMobile">
                        <div class="py-3">1- Subir libro. Permite un formato mobi, epub o pdf</div>
                        <div class="py-3">2- Pulsar en Refrescar</div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">

                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
            </p-fileUpload>



            <div class="flex w-full justify-content-center">
                <button type="submit" class="flex" pripple="" label="Save Book"
                    class=" w-auto mt-3 p-button p-component"> Guardar Libro </button>
            </div>


        </div>
    </form>
</div>
<!-- end insert a book -->
<app-footer></app-footer>