<app-navbar></app-navbar>


<!-- *ngFor="let book of filteredBooks; let j=index" -->
<div class="grid w-full p-3 m-0 ">


    <div class="col-9 grid bg-white flex col-offset-1" *ngIf="currentBook">
        <img src="{{currentBook.image}}" class="flex bg-cover bg-center flex-wrap mx-1"
            style="width: 200px; height: 300px;" *ngIf="currentBook">
        <div class="flex-1 flex h-full flex-column justify-content-between font-bold m-2 pl-7">
            <div class="flex flex-column flex-wrap">
                <div class="flex align-items-center text-xl">{{currentBook.title}}</div>
                <div class="flex align-items-center font-light"> {{currentBook.author}} </div>
                <div class="flex align-items-center font-light"> {{currentBook.publisher}}
                    <span *ngIf="currentBook.publish_date">({{currentBook.publish_date}})</span></div>
                <span class="flex align-items-center font-bold">Nº de libros: <span class="font-light">{{numberOfBooks}}</span></span>
                <span class="flex align-items-center font-light">{{currentBook.pages}} páginas</span>

            </div>
            <div class="flex flex-row justify-content-between">
                <div class="flex h-full">
                    <span class="flex justify-content-start align-items-start flex-row"
                        *ngFor="let file of currentBook.files">

                        <a *ngIf="file.format != 'pdf'" (click)="uploadBook(file.route)" class="cursor-pointer"
                            download>
                            <img style="width: 3rem; height: 3rem;"
                                src="../../../../assets/images/utils/iconapplication/icon{{file.format}}.svg"
                                alt="{{file.format}}  icon">
                        </a>
                        <a (click)="showPdf(file.route, currentBook.title, currentBook.id)" *ngIf="file.format == 'pdf'"
                            class="cursor-pointer">
                            <img style="width: 3rem; height: 3rem;"
                                src="../../../../assets/images/utils/iconapplication/icon{{file.format}}.svg"
                                alt="{{file.format}} icon">
                        </a>
                    </span>
                </div>

            </div>

        </div>
        <div class="flex flex-column m-2">
            <p-overlayPanel #op class="p-0">
                <div class="flex flex-column">
                    <div class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                        (click)="updateBook(currentBook.id)"><i class="pi pi-replay"></i>
                        Actualizar</div>
                    <p-divider class="my-1"></p-divider>
                    <div class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                        (click)="deleteBook($event, currentBook.id, currentBook.files)"><i class="pi pi-trash"></i>
                        Borrar</div>
                    <p-divider *ngIf=" currentBook.physicalBook && currentBook.isAvailable"></p-divider>
                    <div *ngIf=" currentBook.physicalBook && currentBook.isAvailable"
                        class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                        (click)="showWithdrawBook(currentBook)">Retirar
                        para un usuario
                    </div>
                    <p-divider *ngIf=" currentBook.physicalBook && !currentBook.isAvailable"></p-divider>
                    <div *ngIf=" currentBook.physicalBook && !currentBook.isAvailable"
                        class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                        (click)="showReturnBook(currentBook)">Devolver de un usuario
                    </div>
                </div>
            </p-overlayPanel>
            <p-button (click)="op.toggle($event)" styleClass="p-button-outlined p-button-warning mr-2 mb-2"
                label="Gestionar"></p-button>

            <ng-container *ngIf="isFav(currentBook.id); else favTemplate">
                <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-star-fill"
                    styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                    (onClick)="favButton(currentBook.id, currentBook.title)"></p-button>
            </ng-container>
            <ng-template #favTemplate>
                <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-star"
                    styleClass="p-button-rounded p-button-warning" title="Guardar en favoritos"
                    (onClick)="favButton(currentBook.id, currentBook.title)"></p-button>
            </ng-template>

            <ng-container *ngIf="isFinised(currentBook.id); else finishedTemplate">
                <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-eye-slash"
                    styleClass="p-button-rounded p-button-warning" title="Quitar de leidos"
                    (onClick)="finisedButton(currentBook.id, currentBook.title)"></p-button>
            </ng-container>
            <ng-template #finishedTemplate>
                <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-eye"
                    styleClass="p-button-rounded p-button-warning" title="Guardar en leidos"
                    (onClick)="finisedButton(currentBook.id, currentBook.title)"></p-button>
            </ng-template>

            <div *ngIf="currentBook.physicalBook">
                <ng-container
                    *ngIf="currentBook != undefined && currentBook.isNotAvailableReason != undefined && currentBook.isNotAvailableReason.id == currentUser?.id || currentBook.isAvailable; else bookIsTaken">
                    <ng-container *ngIf="currentBook.isAvailable; else physicalTemplate">
                        <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-eject"
                            styleClass="p-button-rounded p-button-warning" title="Sacar libro"
                            (onClick)="withdrawABook(currentBook)"></p-button>
                    </ng-container>
                    <ng-template #physicalTemplate>
                        <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-eject"
                            styleClass="p-button-rounded p-button-help" title="Devolver libro"
                            (onClick)="withdrawABook(currentBook)"></p-button>
                    </ng-template>
                </ng-container>
                <ng-template #bookIsTaken>
                    <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-eject"
                        styleClass="p-button-rounded"
                        title="Este libro lo tiene {{currentBook.isNotAvailableReason!.name}}"
                        [disabled]=true></p-button>

                </ng-template>
            </div>
        </div>

        <p-confirmDialog header="Confirmación" message="¿Estás seguro?" icon="pi pi-exclamation-triangle"
            acceptLabel="Sí" rejectLabel="No" acceptButtonStyleClass="p-button-success"
            rejectButtonStyleClass="p-button-danger" width="'400px'"></p-confirmDialog>

    </div>
</div>

<div *ngIf="currentBook && currentBook.description != ''">

    <div class="mx-8"><p-divider class="my-1"></p-divider></div>

    <div class="grid w-full px-3 col-offset-1 ">
        <div class="col-9 grid bg-white flex mx-4">


            <div class="flex align-items-center font-light">
                <P>Descripción</P>
                {{currentBook.description}}
            </div>

        </div>
    </div>
</div>

<div class="mx-8"><p-divider class="my-1"></p-divider></div>

<div class="grid w-full col-offset-1">
    <div class="col-9 grid bg-white flex mx-4">
        <div class="flex-row">
            <div class="flex flex-row align-items-center">
                Autor
            </div>
            <div class="flex flex-column align-items-center" *ngIf="currentBook">
                <img src="{{currentBook.authorImage}}" alt="Imangen {{currentBook.author}}"
                    class="flex bg-cover bg-center flex-wrap mx-1"
                    onerror="this.src='../../../../assets/images/photoNotFound.png'" style="height: 225px">
                <div class="flex p-2">{{currentBook.author}}</div>
            </div>
        </div>

    </div>
</div>


<div class="mx-8"><p-divider class="my-1"></p-divider></div>
<div class="grid w-full px-3 col-offset-1">
    <div class="col-9 column-gap-1 grid bg-white flex mx-4">
        <div class="flex-row">
            <div class="flex flex-row align-items-center mb-3">
                Más libros del autor
            </div>
            <div class="flex flex-row justify-content-between" *ngIf="currentBook">
                <div class="flex flex-column align-items-center mr-2" *ngFor="let book of this.authorBooks">
                    <img src="{{book.image}}" alt="" class="flex bg-cover bg-center flex-wrap mx-1"
                        style="width: 150px; height: 225px;">
                    <div class="flex p-2">{{book.title}}</div>
                </div>
            </div>
        </div>
    </div>


</div>

<p-dialog [(visible)]="visible" #cd [style]="{width: '50vw', height:'50vh'}">
    <ng-template pTemplate="header">
        <h3>Retirar un libro para un usuario</h3>
    </ng-template>

    <div [formGroup]="bookForm">
        <p-dropdown [options]="usersForHelp" (ngModelChange)="selectedUser=$event" optionLabel="fullName"
            [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Selecciona un usuario"
            formControlName="searchUser">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedUser">
                    <div>{{ selectedUser.fullName }}</div>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ user.fullName }}</div>
                </div>
            </ng-template>

        </p-dropdown>
        <ng-template pTemplate="footer">
            <h4>Retirar {{tempBook!.title}}</h4>
        </ng-template>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="withdrawForUser(selectedUser!.fullName, selectedUser!.id, tempBook!)"
            label="Confirmar" styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Rechazar">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="visible2" [style]="{width: '50vw', height:'35vh'}">
    <ng-template pTemplate="header">
        <h3>Devolver un libro </h3>
    </ng-template>
    <input id="disabled-input" type="text" class="w-full" pInputText [disabled]="true"
        value="{{tempBook?.isNotAvailableReason?.name}}" />

    <ng-template pTemplate="footer">
        <h4>¿ Quiéres devolver {{tempBook!.title}}?</h4>
        <p-button icon="pi pi-check" (click)="returnBookForUser(tempBook!)" label="Confirm" styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Reject">
        </p-button>
    </ng-template>
</p-dialog>
<app-footer></app-footer>