<div class="flex-wrap align-items-center flex justify-content-between w-full">
    <!-- header title -->
    <div class="flex px-4 flex-row align-items-center ">
        <img src="../../../../favicon.ico" class="pr-3" style="width: 3rem; height: 3rem;" alt="">
        <p class="title"> My Virtual Library</p>
    </div>
    <div
        class="flex flex-wrap flex-auto xl:justify-content-end lg:justify-content-end md:justify-content-center sm:justify-content-between">

        <!-- menu -->
        <div class="flex p-4">
            <p-tabMenu [model]="items" [activeItem]="activeItem"
                (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
        </div>
        <!-- avatar column -->
        <div class="flex ">

            <div class="flex flex-column align-items-center py-2 px-6">
                <ng-container *ngIf="true; else elseTemplate">
                    <p-button label="Inicia Sesión" (click)="showLogin()" styleClass="p-button-secondary p-button-text"
                        class="flex align-items-center justify-content-center mt-3"></p-button>
                </ng-container>
                <ng-template #elseTemplate>
                     <p-avatar class="flex align-items-center justify-content-center" icon="pi pi-user" size="xlarge"
                    shape="circle" [style]="{ 'background-color': '#3F51B5', color: '#ffffff' }"></p-avatar>
                <span class="flex align-items-center justify-content-center">Usuario</span>
                </ng-template>
            </div>
        </div>

    </div>
</div>