<div class="flex-wrap align-items-center flex justify-content-between w-full">
    <!-- header title -->
    <div class="flex px-4 flex-row align-items-center just cursor-pointer" routerLink="home">
        <img src="../../../../favicon.ico" class="pr-3" style="width: 3rem; height: 3rem;" alt="">
        <p class="title"> My Virtual Library </p>
    </div>
    <div
        class="flex flex-wrap flex-auto xl:justify-content-end lg:justify-content-end md:justify-content-center justify-content-around">

        <!-- menu -->
        <div class="flex p-4" *ngIf="!isMobile; else mobileScreen">
            <p-tabMenu [model]="items" [activeItem]="activeItem" [scrollable]="true"
                (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
        </div>
        <ng-template class="flex" #mobileScreen>
            <ng-container *ngIf="!currentUser || !currentUser.admin; else elseAdmin">
                <button type="button" class="m-4" pButton icon="pi pi-bars" label="Menú"
                    (click)="menu.toggle($event)"></button>
                <p-slideMenu #menu [model]="items" [popup]="true" [viewportHeight]="140"
                    [menuWidth]="170"></p-slideMenu>
            </ng-container>
            <ng-template #elseAdmin>
                <button type="button" class="m-4" pButton icon="pi pi-bars" label="Menú"
                    (click)="menu.toggle($event)"></button>
                <p-slideMenu #menu [model]="items" [popup]="true" [viewportHeight]="185"
                    [menuWidth]="170"></p-slideMenu>
            </ng-template>

        </ng-template>

        <!-- avatar column -->

        <div class="flex ">

            <div class="flex flex-column align-items-center lg:py-2 lg:px-6">
                <ng-container *ngIf="getStateUser() == undefined; else elseTemplate">
                    <p-button label="Inicia Sesión" (click)="showLogin()" styleClass="p-button-secondary p-button-text"
                        class="flex align-items-center justify-content-center pt-3"></p-button>
                </ng-container>
                <ng-template #elseTemplate class="flex flex-column">
                    <span class="flex align-items-center justify-content-center ">{{currentUser?.fullName}}</span>
                    <div class="flex pr-7">
                        <p-speedDial [model]="items2" direction="down" showIcon="pi pi-user" aria-label="Options">
                        </p-speedDial>
                    </div>

                </ng-template>
            </div>

        </div>
        <p-sidebar [(visible)]="sidebarVisible1" position="right">
            <h2>Libros Favoritos</h2>

            <ng-container *ngIf="currentUser && currentUser.favouritesBooks && 
                currentUser.favouritesBooks.length != 0; else NonFavorites">
                <div *ngFor="let book of currentUser.favouritesBooks">

                    <button pButton class="w-full mb-1" (click)="showInfo(book.idBook)">{{book.title}}</button>

                </div>

            </ng-container>
            <ng-template #NonFavorites>
                <p>Nada guardado en favoritos de momento</p>
            </ng-template>


        </p-sidebar>

        <p-sidebar [(visible)]="sidebarVisible2" position="right">
            <h2>Libros Leídos</h2>

            <ng-container *ngIf="currentUser && currentUser.finishedBooks && 
                currentUser.finishedBooks.length != 0; else NonFinished">
                <div *ngFor="let book of currentUser.finishedBooks">

                    <button pButton class="w-full mb-1" (click)="showInfo(book.idBook)">{{book.title}}</button>

                </div>

            </ng-container>
            <ng-template #NonFinished>
                <p>Ningun libro leído de momento</p>
            </ng-template>


        </p-sidebar>

        <p-dialog *ngIf="!isMobile" [(visible)]="visibleLogin" [style]="{width: '70vw', height:'80vh'}">

            <app-login></app-login>

        </p-dialog>

        <p-dialog *ngIf="isMobile" [(visible)]="visibleLogin" [style]="{width: '100vw', height:'80vh'}">

            <app-login></app-login>

        </p-dialog>
    </div>
</div>