<app-navbar></app-navbar>
<!-- title -->

<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>


<div class="p-align-center mt-2 w-full">
    <div class="bg-cover bg-center border-round h-25rem w-full align-items-center justify-content-center flex flex-column h-full "
        style="background-image: url('../../../../assets/images/libraryIMG.png')">
        <span class="text-6xl text-50 flex ">VISÍTANOS</span>
        <span class="text-xl text-50 font-italic flex"> Busca un libro que necesitas </span>
    </div>
</div>


<!-- recomended -->
<div class="w-full flex justify-content-between align-items-center flex-row flex-wrap px-4">
    <p class="flex pt-3 font-bold text-2xl">Recomendaciones</p> <span class="flex mr-5"
        *ngIf="currentUser && currentUser.admin"> <p-button styleClass='p-button-success' (click)="modifySuggestions()"
            class="h-1 mr-2 sm:pl-0 lg:pl-4 xl:pl-4 md:pl-4" icon="pi pi-cog" label="Modificar recomendaciones"></p-button></span>
</div>

<div class="grid w-full md:p-6 lg:p-6 xl:p-6 ">
    <div class=" grid col-11 flex  justify-content-center lg:justify-content-between">

        <div class="flex column-gap-3 row-gap-2 m-4 max-w-20rem min-w-20rem cursor-pointer
        transition-colors transition-duration-1000 hover:bg-cyan-100 text-black border-round-md"
            *ngFor="let book of suggestionBooks; let i=index" (click)="showInfo(book.id)">

            <img class="flex bg-cover bg-center flex-wrap mx-1"
                style="min-width: 150px; min-height: 200px; max-width: 150px; max-height: 200px;" src="{{book.image}}"
                onerror="this.src='../../../../assets/images/photoNotFound.png'" alt="Imagen">

            <div class="flex flex-column w-full">
                <div class="flex align-items-center font-bold border-round ml-2 text-xl">{{book.title}}</div>
                <div class="flex align-items-center font-bold ml-2 mt-1 text-color-secondary">{{book.author}}</div>
                <div class="flex align-items-center font-light ml-2 mt-1">{{book.publisher}}</div>
                <div class="flex align-items-center font-light ml-2 mt-1">{{book.pages}} páginas</div>
            </div>  
        </div>
    </div>

</div>


<div class="surface-ground px-4 pb-5 md:px-6 lg:px-8">
    <div class="w-full flex justify-content-between align-items-center">
        <p class="flex pl-1 font-bold text-2xl">Lo más visto</p>
    </div>
    <div class="grid">
        <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 surface-card p-3 h-full" style="border-radius: 12px;">
                <div class="flex align-items-center justify-content-between h-full">
                    <div class="flex align-items-start flex-column">
                        <span class="text-3xl text-900 font-bold flex">{{mostUsedGenre}}</span>
                        <p class="mt-1 mb-0 text-600 text-xl flex">Género más leído</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 surface-card p-3 h-full" style="border-radius: 12px;">
                <div class="flex align-items-center justify-content-between h-full">
                    <div class="flex align-items-start flex-column">
                        <span class="text-3xl text-900 font-bold" *ngIf="bookMostRead">{{bookMostRead}}</span>
                        <p class="mt-1 mb-0 text-600 text-xl">Libro más leído</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 surface-card p-3 h-full" style="border-radius: 12px;">
                <div class="flex align-items-center justify-content-between h-full">
                    <div class="flex align-items-start flex-column">
                        <span class="text-3xl text-900 font-bold" *ngIf="mostFavBook">{{mostFavBook}}</span>
                        <p class="mt-1 mb-0 text-600 text-xl">El favorito</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- search -->
<div class="grid w-full cusGrid xl:p-6 lg:p-6 md:p-6 py-6" style="background-color: rgb(232, 213, 196);">
    <div class=" w-full align-items-center justify-content-center flex flex-column h-full">
        <span class="text-4xl font-bold">
            Busca un libro
        </span>
        <div class="card w-9 flex flex-row justify-content-center mt-4">

            <span class="p-input-icon-right border-round flex w-full mr-2">
                <i class="pi pi-search"></i>
                <input class="w-full" type="text" pInputText [formControl]="inputSearch" (keyup)="searchFilter()"
                    placeholder="Escribe un {{selectFilter}}" />
            </span>

            <span class="p-input-icon-right flex">
                <p-splitButton [label]='selectFilter' (onchange)="search('info')" [model]="searchItems"></p-splitButton>
            </span>
        </div>
    </div>
</div>



<!-- search results -->
<div *ngIf="showSearch">
    <div class="w-full p-3 surface-ground" *ngFor="let book of filteredBooks; let j=index">

        <div
            class="bg-white grid lg:col-offset-2 lg:col-8 xl:col-offset-2 xl:col-8 ml:col-offset-1 ml:col-9 sm:col-offset-0 sm:col-12">
            <div *ngIf="!isMobile" (click)="showInfo(book.id)" class="transition-colors transition-duration-1000 hover:bg-cyan-100 text-black hover:text-white border-round-md">
                <!-- pc image -->
                <img class="flex bg-cover bg-center flex-wrap my-5 mx-1 cursor-pointer"
                    style="width: 150px; height: 200px;" src="{{filteredBooks[j].image}}"
                    onerror="this.src='../../../../assets/images/photoNotFound.png'" alt="Imagen">
            </div>
            <!-- mobile image -->
            <div (click)="showInfo(book.id)" class="flex justify-content-center w-full" *ngIf="isMobile">
                <img class="flex bg-cover bg-center flex-wrap my-5 mx-1 cursor-pointer"
                    style="width: 200px; height: 250px;" src="{{filteredBooks[j].image}}"
                    onerror="this.src='../../../../assets/images/photoNotFound.png'" alt="Imagen">
            </div>

            <div class="flex-1 flex m-2 w-full">
                <div class="flex flex-column justify-content-around h-full w-full">
                    <div class="flex flex-column mb-4">
                        <div class="flex align-items-center text-2xl">{{filteredBooks[j].title}}</div>
                        <div class="flex align-items-center text-color-secondary text pb-2">{{filteredBooks[j].author}}
                        </div>
                        <div class="flex align-items-center font-light">{{filteredBooks[j].description | slice:0:300 }}
                        </div>
                    </div>
                    <div class="flex w-full">
                        <div class="flex w-full" *ngIf="currentUser">
                            <span class="flex justify-content-start align-items-start flex-row"
                                *ngFor="let file of filteredBooks[j].files">

                                <a *ngIf="file.format != 'pdf'" (click)="uploadBook(file.route)" class="cursor-pointer pt-1
                                transition-colors transition-duration-1000 hover:bg-blue-500 text-black hover:text-white border-round-md"
                                    download>
                                    <img style="width: 3rem; height: 3rem;"
                                        src="../../../../assets/images/utils/iconapplication/icon{{file.format}}.svg"
                                        alt="{{file.format}}  icon">
                                </a>
                                <a (click)="showPdf(file.route, filteredBooks[j].title,filteredBooks[j].id)"
                                    *ngIf="file.format == 'pdf'" class="cursor-pointer pt-1
                                    transition-colors transition-duration-1000 hover:bg-blue-500 text-black hover:text-white border-round-md">
                                    <img style="width: 3rem; height: 3rem;"
                                        src="../../../../assets/images/utils/iconapplication/icon{{file.format}}.svg"
                                        alt="{{file.format}} icon">
                                </a>
                            </span>
                            <span class="flex justify-content-start align-items-start flex-row">
                                <div *ngIf="filteredBooks[j].physicalBook">
                                    <ng-container
                                        *ngIf="filteredBooks[j].isNotAvailableReason!.id == currentUser.id || filteredBooks[j].isAvailable; else bookIsTaken">
                                        <ng-container *ngIf="filteredBooks[j].isAvailable; else physicalTemplate">
                                            <div class="cursor-pointer pt-1
                                            transition-colors transition-duration-1000 hover:bg-blue-500 text-black hover:text-white border-round-md">
                                            <a (click)="withdrawABook(filteredBooks[j])" >
                                                <img style="width: 3rem; height: 3rem;" class="cursor-pointer
                                                transition-colors transition-duration-1000 hover:bg-blue-500 text-black hover:text-white border-round-md"
                                                    src="../../../../assets/images/utils/iconapplication/iconGetBook.svg"
                                                    alt="get book icon" pTooltip="Retirar libro">
                                            </a>
                                            </div>
                                        </ng-container>
                                        <ng-template #physicalTemplate>
                                            <div class="cursor-pointer pt-1
                                            transition-colors transition-duration-1000 hover:bg-blue-500 text-black hover:text-white border-round-md">
                                            <a (click)="withdrawABook(filteredBooks[j])" >
                                                <img style="width: 3rem; height: 3rem;" 
                                                    src="../../../../assets/images/utils/iconapplication/iconReturnBook.svg"
                                                    alt="get book icon" pTooltip="Devolver libro">
                                            </a>
                                        </div>
                                        </ng-template>
                                    </ng-container>
                                    <ng-template #bookIsTaken>
                                        <div class="pt-1">
                                        <a >
                                            <img style="width: 3rem; height: 3rem;" [ariaDisabled]="true"
                                                src="../../../../assets/images/utils/iconapplication/iconNotAvailableBook.svg"
                                                alt="get book icon"
                                                pTooltip="Este libro lo tiene {{filteredBooks[j].isNotAvailableReason!.name}}">
                                        </a></div>
                                    </ng-template>
                                </div>
                            </span>

                        </div>
                        <div class="flex justify-content-center align-items-center">
                            <span class="text-white bg-gray-500 px-2 py-1 w-5rem font-light">{{filteredBooks[j].pages}}
                                pág.</span>
                        </div>
                    </div>
                </div>


                <div class="flex flex-column m-2" *ngIf="this.currentUser != undefined">
                    <p-overlayPanel #op class="p-0">
                        <div class="flex flex-column">
                            <div class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                                (click)="updateBook(filteredBooks[j].id)"><i class="pi pi-replay"></i>
                                Actualizar</div>
                            <p-divider class="my-1"></p-divider>

                            <div class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                                (click)="deleteBook($event, filteredBooks[j].id, filteredBooks[j].files)"><i
                                    class="pi pi-trash"></i> Borrar</div>
                            <p-divider
                                *ngIf=" filteredBooks[j].physicalBook && filteredBooks[j].isAvailable"></p-divider>

                            <div *ngIf=" filteredBooks[j].physicalBook && filteredBooks[j].isAvailable"
                                class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                                (click)="showWithdrawBook(filteredBooks[j])">Retirar
                                para un usuario
                            </div>
                            <p-divider
                                *ngIf=" filteredBooks[j].physicalBook && !filteredBooks[j].isAvailable && filteredBooks[j].isNotAvailableReason.id != currentUser.id"></p-divider>

                            <div *ngIf=" filteredBooks[j].physicalBook && !filteredBooks[j].isAvailable && filteredBooks[j].isNotAvailableReason.id != currentUser.id  "
                                class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                                (click)="showReturnBook(filteredBooks[j])">Devolver de un usuario
                            </div>
                            <p-divider></p-divider>

                            <div class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                                (click)="showfinishedBook(filteredBooks[j])">Marcar leído a un usuario
                            </div>
                            <p-divider></p-divider>

                            <div class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                                (click)="showRemovefinishedBook(filteredBooks[j])">Marcar no leído a un usuario
                            </div>
                        </div>
                    </p-overlayPanel>
                    <p-button (click)="op.toggle($event)" *ngIf="currentUser.admin"
                        styleClass="p-button-outlined p-button-warning mr-2 mb-2" label="Gestionar">
                    </p-button>

                    <ng-container *ngIf="isFav(filteredBooks[j].id); else favTemplate">
                        <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-star-fill"
                            styleClass="p-button-rounded p-button-warning" pTooltip="Quitar de favoritos"
                            (onClick)="favButton(filteredBooks[j].id, filteredBooks[j].title)"></p-button>
                    </ng-container>
                    <ng-template #favTemplate>
                        <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-star"
                            styleClass="p-button-rounded p-button-warning" pTooltip="Guardar en favoritos"
                            (onClick)="favButton(filteredBooks[j].id, filteredBooks[j].title)"></p-button>
                    </ng-template>

                    <ng-container *ngIf="isFinised(filteredBooks[j].id); else finishedTemplate">
                        <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-eye"
                            styleClass="p-button-rounded p-button-warning" pTooltip="Quitar de leído"
                            (onClick)="finisedButton(filteredBooks[j].id, filteredBooks[j].title)"></p-button>
                    </ng-container>
                    <ng-template #finishedTemplate>
                        <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-eye-slash"
                            styleClass="p-button-rounded p-button-warning" pTooltip="Guardar en leído"
                            (onClick)="finisedButton(filteredBooks[j].id, filteredBooks[j].title)"></p-button>
                    </ng-template>
                </div>
            </div>
            <!--   <div class="col-2 xl:col-4 lg:col-4"></div> -->

        </div>
    </div>
</div>
<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle" acceptLabel="Sí" rejectLabel="No"
    acceptButtonStyleClass="p-button-success" rejectButtonStyleClass="p-button-danger" width="400px"></p-confirmDialog>

<div class="w-full p-3 surface-ground">

    <div
        class="bg-white grid lg:col-offset-2 lg:col-8 xl:col-offset-2 xl:col-8 ml:col-offset-1 ml:col-9 sm:col-offset-0 sm:col-12 flex justify-content-center ">

        <ng-container *ngIf="showSearch && filteredBooks.length === 0" class="flex flex-column">
            <div class="flex flex-column w-full justify-content-center">
                <p class="flex align-items-center justify-content-center font-bold text-2xl text-color-secondary">
                    No se ha encontrado nada</p>
            </div>
            <img src="../../../../assets/images/notFoundSearch.jpg" alt="" style="max-width: 20rem;" class="flex ">
        </ng-container>

        <ng-container *ngIf="(!showSearch && filteredBooks.length === 0) || this.inputSearch.value === ''">
            <div class="flex flex-column w-full justify-content-center">
                <p class="flex align-items-center justify-content-center font-bold text-2xl text-color-secondary">
                    Escribe algo en el buscador</p>
            </div>
            <img src="../../../../assets/images/searchIMG.jpg" alt="" style="max-width: 20rem;" class="flex ">
        </ng-container>

    </div>

</div>


<p-dialog *ngIf="!isMobile" [(visible)]="showfinishedBookWindow" #cd [style]="{width: '25vw', height:'60vh'}">
    <ng-template pTemplate="header">
        <h3>Marcar libro leído para un usuario</h3>
    </ng-template>

    <div [formGroup]="bookForm">
        <p-dropdown [options]="usersForHelp" (ngModelChange)="selectedUser=$event" optionLabel="fullName"
            [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Selecciona un usuario"
            formControlName="searchUser">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedUser">
                    <div>{{ selectedUser.fullName }}</div>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ user.fullName }}</div>
                </div>
            </ng-template>

        </p-dropdown>
        <ng-template pTemplate="footer">
            <h4>Marcar {{tempBook!.title}}</h4>
        </ng-template>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="selectAsFinishedForUser(selectedUser!, tempBook!)" label="Confirmar"
            styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Cancelar">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog *ngIf="!isMobile" [(visible)]="showRemovefinishedBookWindow" #cd [style]="{width: '25vw', height:'60vh'}">
    <ng-template pTemplate="header">
        <h3>Desmarcar libro como leído para un usuario</h3>
    </ng-template>

    <div [formGroup]="bookForm">
        <p-dropdown [options]="usersForHelp" (ngModelChange)="selectedUser=$event" optionLabel="fullName"
            [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Selecciona un usuario"
            formControlName="searchUser">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedUser">
                    <div>{{ selectedUser.fullName }}</div>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ user.fullName }}</div>
                </div>
            </ng-template>

        </p-dropdown>
        <ng-template pTemplate="footer">
            <h4>Desmarcar {{tempBook!.title}}</h4>
        </ng-template>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="deselectAsFinishedForUser(selectedUser!, tempBook!)" label="Confirmar"
            styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Cancelar">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog *ngIf="!isMobile" [(visible)]="visible" #cd [style]="{width: '25vw', height:'60vh'}">
    <ng-template pTemplate="header">
        <h3>Retirar un libro para un usuario</h3>
    </ng-template>

    <div [formGroup]="bookForm">
        <p-dropdown [options]="usersForHelp" (ngModelChange)="selectedUser=$event" optionLabel="fullName"
            [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Selecciona un usuario"
            formControlName="searchUser">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedUser">
                    <div>{{ selectedUser.fullName }}</div>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ user.fullName }}</div>
                </div>
            </ng-template>

        </p-dropdown>
        <ng-template pTemplate="footer">
            <h4>Retirar {{tempBook!.title}}</h4>
        </ng-template>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="withdrawForUser(selectedUser!.fullName, selectedUser!.id, tempBook!)"
            label="Confirmar" styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Cancelar">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog *ngIf="!isMobile" [(visible)]="visible2" [style]="{width: '50vw', height:'40vh'}">
    <ng-template pTemplate="header">
        <h3>Devolver un libro </h3>
    </ng-template>
    <input id="disabled-input" type="text" class="w-full" pInputText [disabled]="true"
        value="{{tempBook?.isNotAvailableReason?.name}}" />

    <ng-template pTemplate="footer">
        <h4>¿ Quiéres devolver {{tempBook!.title}}?</h4>
        <p-button icon="pi pi-check" (click)="returnBookForUser(tempBook!)" label="Confirmar"
            styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Cancelar">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog *ngIf="!isMobile" [(visible)]="showModifySuggestion" #cd [style]="{width: '100vw', height:'80vh'}">
    <ng-template pTemplate="header">
        <h3>Modifica las recomendaciones</h3>
    </ng-template>

    <div>
        <p-table [value]="bookList" dataKey="id" [tableStyle]="{ 'min-width': '75rem' }" [paginator]="true" [rows]="5"
            [globalFilterFields]="['title', 'author', 'genre', 'publisher']">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="title">Título <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="author">Autor <p-sortIcon field="author"></p-sortIcon></th>
                    <th pSortableColumn="genre">Género <p-sortIcon field="genre"></p-sortIcon></th>
                    <th pSortableColumn="publisher">Editorial <p-sortIcon field="publisher"></p-sortIcon></th>
                    <th style="width: 5rem"></th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="title"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="author"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="genre"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="publisher"></p-columnFilter>
                    </th>
                    <th style="width: 4rem">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-book>
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.publisher}}</td>
                    <td>
                        <ng-container *ngIf="!checkSuggestion(book); else elseTemplate">
                            <button type="button" pButton pRipple icon="pi pi-plus"
                                (click)="managePreferenceBooks(book)"></button>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <button style="background-color: rgb(164, 34, 34);" type="button" pButton pRipple
                                icon="pi pi-times" (click)="managePreferenceBooks(book)"></button>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</p-dialog>


<p-dialog *ngIf="isMobile" [(visible)]="showfinishedBookWindow" #cd [style]="{width: '100vw', height:'60vh'}">
    <ng-template pTemplate="header">
        <h3>Marcar libro leído para un usuario</h3>
    </ng-template>

    <div [formGroup]="bookForm">
        <p-dropdown [options]="usersForHelp" (ngModelChange)="selectedUser=$event" optionLabel="fullName"
            [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Selecciona un usuario"
            formControlName="searchUser">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedUser">
                    <div>{{ selectedUser.fullName }}</div>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ user.fullName }}</div>
                </div>
            </ng-template>

        </p-dropdown>
        <ng-template pTemplate="footer">
            <h4>Marcar {{tempBook!.title}}</h4>
        </ng-template>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="selectAsFinishedForUser(selectedUser!, tempBook!)" label="Confirmar"
            styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Cancelar">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog *ngIf="isMobile" [(visible)]="showRemovefinishedBookWindow" #cd [style]="{width: '100vw', height:'60vh'}">
    <ng-template pTemplate="header">
        <h3>Desmarcar libro como leído para un usuario</h3>
    </ng-template>

    <div [formGroup]="bookForm">
        <p-dropdown [options]="usersForHelp" (ngModelChange)="selectedUser=$event" optionLabel="fullName"
            [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Selecciona un usuario"
            formControlName="searchUser">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedUser">
                    <div>{{ selectedUser.fullName }}</div>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ user.fullName }}</div>
                </div>
            </ng-template>

        </p-dropdown>
        <ng-template pTemplate="footer">
            <h4>Desmarcar {{tempBook!.title}}</h4>
        </ng-template>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="deselectAsFinishedForUser(selectedUser!, tempBook!)" label="Confirmar"
            styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Cancelar">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog *ngIf="isMobile" [(visible)]="visible" #cd [style]="{width: '100vw', height:'60vh'}">
    <ng-template pTemplate="header">
        <h3>Retirar un libro para un usuario</h3>
    </ng-template>

    <div [formGroup]="bookForm">
        <p-dropdown [options]="usersForHelp" (ngModelChange)="selectedUser=$event" optionLabel="fullName"
            [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Selecciona un usuario"
            formControlName="searchUser">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedUser">
                    <div>{{ selectedUser.fullName }}</div>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ user.fullName }}</div>
                </div>
            </ng-template>

        </p-dropdown>
        <ng-template pTemplate="footer">
            <h4>Retirar {{tempBook!.title}}</h4>
        </ng-template>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="withdrawForUser(selectedUser!.fullName, selectedUser!.id, tempBook!)"
            label="Confirmar" styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Cancelar">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog *ngIf="isMobile" [(visible)]="visible2" [style]="{width: '100vw', height:'40vh'}">
    <ng-template pTemplate="header">
        <h3>Devolver un libro </h3>
    </ng-template>
    <input id="disabled-input" type="text" class="w-full" pInputText [disabled]="true"
        value="{{tempBook?.isNotAvailableReason?.name}}" />

    <ng-template pTemplate="footer">
        <h4>¿ Quiéres devolver {{tempBook!.title}}?</h4>
        <p-button icon="pi pi-check" (click)="returnBookForUser(tempBook!)" label="Confirmar"
            styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Cancelar">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog *ngIf="isMobile" [(visible)]="showModifySuggestion" #cd [style]="{width: '100vw', height:'80vh'}">
    <ng-template pTemplate="header">
        <h3>Modifica las recomendaciones</h3>
    </ng-template>

    <div>
        <p-table [value]="bookList" dataKey="id" [tableStyle]="{ 'min-width': '75rem' }" [paginator]="true" [rows]="5"
            [globalFilterFields]="['title', 'author', 'genre', 'publisher']">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="title">Título <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="author">Autor <p-sortIcon field="author"></p-sortIcon></th>
                    <th pSortableColumn="genre">Género <p-sortIcon field="genre"></p-sortIcon></th>
                    <th pSortableColumn="publisher">Editorial <p-sortIcon field="publisher"></p-sortIcon></th>
                    <th style="width: 5rem"></th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="title"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="author"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="genre"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="publisher"></p-columnFilter>
                    </th>
                    <th style="width: 4rem">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-book>
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.publisher}}</td>
                    <td>
                        <ng-container *ngIf="!checkSuggestion(book); else elseTemplate">
                            <button type="button" pButton pRipple icon="pi pi-plus"
                                (click)="managePreferenceBooks(book)"></button>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <button style="background-color: rgb(164, 34, 34);" type="button" pButton pRipple
                                icon="pi pi-times" (click)="managePreferenceBooks(book)"></button>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</p-dialog>

<app-footer></app-footer>