<app-navbar></app-navbar>
<!-- title -->
<p-toast></p-toast>
<div class="grid p-align-center mt-2 w-full">
    <div class="bg-cover bg-center border-round h-25rem w-full align-items-center justify-content-center flex flex-column h-full "
        style="background-image: url('../../../../assets/images/libraryIMG.png')">
        <span class="text-6xl text-50 flex ">VISÍTANOS</span>
        <span class="text-xl text-50 font-italic flex"> Busca un libro que necesitas </span>
    </div>
</div>


<!-- recomended -->
<div class="grid p-align-center mt-2 w-full flex-column">
    <div class="flex justify-content-start ml-8">
        <p class="text-2xl font-bold">Recomendaciones</p>
    </div>
</div>
<div class="grid w-full p-6 ">

    <div class="col-1"></div>
    <div class="col-10 grid flex align-items-center justify-content-between">

        <div class="flex column-gap-3 row-gap-2 m-4 max-w-20rem min-w-20rem cursor-pointer"
            *ngFor="let book of bookList.flat().slice(0,6); let i=index" (click)="showInfo(book.id)">

            <div class="flex align-items-center justify-content-center bg-cover bg-center flex-wrap "
                style="min-width: 150px; min-height: 200px; max-width: 150px; max-height: 200px; background-image: url('{{book.image}}')">
            </div>

            <div class="flex flex-column font-bold text-gray-900">
                <div class="flex align-items-center font-bold border-round ml-2 ">{{book.title}}</div>
                <div class="flex align-items-center font-light ml-2 mt-1">{{book.author}}</div>
                <div class="flex align-items-center font-light ml-2 mt-1">{{book.publisher}}</div>
                <div class="flex align-items-center font-light ml-2 mt-1">{{book.pages}} páginas</div>

            </div>

        </div>
    </div>



</div>
<!-- search -->
<div class="grid mt-2 w-full cusGrid p-6" style="background-color: rgb(232, 213, 196);">
    <div class=" w-full align-items-center justify-content-center flex flex-column h-full">
        <span class="text-4xl font-bold">
            Busca un libro
        </span>
        <div class="card w-9 flex flex-row justify-content-center mt-4">

            <span class="p-input-icon-right border-round flex w-full mr-2">
                <i class="pi pi-search"></i>
                <input class="w-full" type="text" pInputText [formControl]="inputSearch" (keyup)="searchFilter()"
                    placeholder="Escribe un {{selectFilter}}" />
            </span>

            <span class="p-input-icon-right flex">
                <p-splitButton [label]='selectFilter' (onchange)="search('info')" [model]="searchItems"></p-splitButton>
            </span>

        </div>

    </div>


</div>



<!-- search results -->
<div *ngIf="showSearch">
    <div class="grid w-full p-3 cusGrid surface-ground" *ngFor="let book of filteredBooks; let j=index">


        <div class="col-2"></div>
        <div class="col-7 grid bg-white flex">
            <div (click)="showInfo(book.id)">
                <img class="flex bg-cover bg-center flex-wrap my-5 mx-1" style="width: 150px; height: 200px;"
                    src="{{filteredBooks[j].image}}" onerror="this.src='../../../../assets/images/photoNotFound.png'"
                    alt="Imagen">
            </div>
            <div class="flex-1 flex h-full font-bold m-2 w-full">
                <div class="flex flex-column justify-content-around flex-wrap w-full">
                    <div class="flex align-items-center ">{{filteredBooks[j].title}}</div>
                    <div class="flex align-items-center font-light">{{filteredBooks[j].description | slice:0:300 }}
                    </div>
                    <div class="flex flex-row justify-content-between">
                        <div class="flex">
                            <span class="flex justify-content-start align-items-start flex-row"
                                *ngFor="let file of filteredBooks[j].files">

                                <a *ngIf="file.format != 'pdf'" (click)="uploadBook(file.route)" class="cursor-pointer"
                                    download>
                                    <img style="width: 3rem; height: 3rem;"
                                        src="../../../../assets/images/utils/iconapplication/icon{{file.format}}.svg"
                                        alt="{{file.format}}  icon">
                                </a>
                                <a (click)="showPdf(file.route, filteredBooks[j].title,filteredBooks[j].id)"
                                    *ngIf="file.format == 'pdf'" class="cursor-pointer">
                                    <img style="width: 3rem; height: 3rem;"
                                        src="../../../../assets/images/utils/iconapplication/icon{{file.format}}.svg"
                                        alt="{{file.format}} icon">
                                </a>
                            </span>
                            <span class="flex justify-content-start align-items-start flex-row pt-1">
                                <div *ngIf="filteredBooks[j].physicalBook">
                                    <ng-container
                                        *ngIf="filteredBooks[j].isNotAvailableReason!.id == currentUser.id || filteredBooks[j].isAvailable; else bookIsTaken">
                                        <ng-container *ngIf="filteredBooks[j].isAvailable; else physicalTemplate">
                                            <p-button label="Sacar libro" styleClass="p-button-raised p-button-text"
                                                (onClick)="withdrawABook(filteredBooks[j])"></p-button>
                                        </ng-container>
                                        <ng-template #physicalTemplate>
                                            <p-button label="Devolver libro" styleClass="p-button-raised p-button-text p-button-secondary"
                                                (onClick)="withdrawABook(filteredBooks[j])"></p-button>
                                        </ng-template>
                                    </ng-container>
                                    <ng-template #bookIsTaken>
                                        <p-button label="Sacar libro"  styleClass="p-button-raised p-button-text"
                                            title="Este libro lo tiene {{filteredBooks[j].isNotAvailableReason!.name}}"
                                            [disabled]=true></p-button>
                
                                    </ng-template>
                                </div>
                            </span>
                           
                        </div>
                        <span
                            class="flex align-items-start text-white bg-gray-500 my-4 px-3 font-light">{{filteredBooks[j].pages}}
                            pág.</span>
                    </div>
                </div>
            </div>


            <div class="flex flex-column m-2" *ngIf="this.currentUser != undefined">
                <p-overlayPanel #op class="p-0">
                    <div class="flex flex-column">
                        <div class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                            (click)="updateBook(filteredBooks[j].id)"><i class="pi pi-replay"></i>
                            Actualizar</div>
                        <p-divider class="my-1"></p-divider>

                        <div class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                            (click)="deleteBook($event, filteredBooks[j].id, filteredBooks[j].files)"><i
                                class="pi pi-trash"></i> Borrar</div>
                        <p-divider *ngIf=" filteredBooks[j].physicalBook && filteredBooks[j].isAvailable"></p-divider>
                        <div *ngIf=" filteredBooks[j].physicalBook && filteredBooks[j].isAvailable"
                            class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                            (click)="showWithdrawBook(filteredBooks[j])">Retirar
                            para un usuario
                        </div>
                        <p-divider *ngIf=" filteredBooks[j].physicalBook && !filteredBooks[j].isAvailable"></p-divider>
                        <div *ngIf=" filteredBooks[j].physicalBook && !filteredBooks[j].isAvailable"
                            class="hover:surface-100 pRipple w-full py-2 cursor-pointer"
                            (click)="showReturnBook(filteredBooks[j])">Devolver de un usuario
                        </div>
                    </div>
                </p-overlayPanel>
                <p-button (click)="op.toggle($event)" *ngIf="currentUser.admin" ngif
                    styleClass="p-button-outlined p-button-warning mr-2 mb-2" label="Gestionar"></p-button>
                <ng-container *ngIf="isFav(filteredBooks[j].id); else favTemplate">
                    <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-star-fill"
                        styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                        (onClick)="favButton(filteredBooks[j].id, filteredBooks[j].title)"></p-button>
                </ng-container>
                <ng-template #favTemplate>
                    <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-star"
                        styleClass="p-button-rounded p-button-warning" title="Guardar en favoritos"
                        (onClick)="favButton(filteredBooks[j].id, filteredBooks[j].title)"></p-button>
                </ng-template>

                <ng-container *ngIf="isFinised(filteredBooks[j].id); else finishedTemplate">
                    <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-eye-slash"
                        styleClass="p-button-rounded p-button-warning" title="Quitar de leidos"
                        (onClick)="finisedButton(filteredBooks[j].id, filteredBooks[j].title)"></p-button>
                </ng-container>
                <ng-template #finishedTemplate>
                    <p-button class="flex justify-content-end pr-2 pt-2" icon="pi pi-eye"
                        styleClass="p-button-rounded p-button-warning" title="Guardar en leidos"
                        (onClick)="finisedButton(filteredBooks[j].id, filteredBooks[j].title)"></p-button>
                </ng-template>
            </div>
        </div>
        <div class="col-3"></div>

    </div>
</div>

<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" acceptLabel="Sí" rejectLabel="No"
    acceptButtonStyleClass="p-button-success" rejectButtonStyleClass="p-button-danger"
    width="'400px'"></p-confirmDialog>

<div class="grid w-full p-3 cusGrid surface-ground">
    <div class="col-2"></div>
    <div class="col-7 grid bg-white fle flex-column align-items-center justify-content-center">

        <ng-container *ngIf="showSearch && filteredBooks.length === 0">
            <p class="flex-wrap align-items-center justify-content-center">No se ha encontrado nada</p>
            <img src="../../../../assets/images/notFoundSearch.jpg" alt="" style="max-width: 20rem;">
        </ng-container>

        <ng-container *ngIf="(!showSearch && filteredBooks.length === 0) || this.inputSearch.value === ''">
            <p class="flex-wrap align-items-center justify-content-center">Escribe algo en el buscador</p>
            <img src="../../../../assets/images/searchIMG.jpg" alt="" style="max-width: 20rem;">
        </ng-container>

    </div>

</div>

<p-dialog [(visible)]="visible" #cd [style]="{width: '50vw', height:'50vh'}">
    <ng-template pTemplate="header">
        <h3>Retirar un libro para un usuario</h3>
    </ng-template>

    <div [formGroup]="bookForm">
        <p-dropdown [options]="usersForHelp" (ngModelChange)="selectedUser=$event" optionLabel="fullName"
            [filter]="true" filterBy="fullName" [showClear]="true" placeholder="Selecciona un usuario"
            formControlName="searchUser">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedUser">
                    <div>{{ selectedUser.fullName }}</div>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ user.fullName }}</div>
                </div>
            </ng-template>

        </p-dropdown>
        <ng-template pTemplate="footer">
            <h4>Retirar {{tempBook!.title}}</h4>
        </ng-template>

    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="withdrawForUser(selectedUser!.fullName, selectedUser!.id, tempBook!)"
            label="Confirm" styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Reject">
        </p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="visible2" [style]="{width: '50vw', height:'35vh'}">
    <ng-template pTemplate="header">
        <h3>Devolver un libro </h3>
    </ng-template>
    <input id="disabled-input" type="text" class="w-full" pInputText [disabled]="true"
        value="{{tempBook?.isNotAvailableReason?.name}}" />

    <ng-template pTemplate="footer">
        <h4>¿ Quiéres devolver {{tempBook!.title}}?</h4>
        <p-button icon="pi pi-check" (click)="returnBookForUser(tempBook!)" label="Confirm" styleClass="p-button-text">
        </p-button>

        <p-button icon="pi pi-times" (click)="cancel()" label="Reject">
        </p-button>
    </ng-template>
</p-dialog>

<app-footer></app-footer>