<app-navbar></app-navbar>
<div class="w-full flex justify-content-between align-items-center">
    <p class="flex pt-3 pl-8 font-bold text-2xl">Fantasía</p> <span class="flex mr-5" *ngIf="currentUser && currentUser.admin"> <p-button styleClass='p-button-success' 
        (click)="downloadBookData(fantasyBooks, 'Fantasía')" class="h-1 mr-2" icon="pi pi-plus" label="Descargar libros"></p-button></span>
</div>
<div class="grid w-full">
    <div class="col-1"></div>
    <p-carousel class="col-10 pt-4" [value]="fantasyBooks" [numVisible]="3" [numScroll]="1"
        [responsiveOptions]="responsiveOptions">

        <ng-template let-fantasyBook pTemplate="item">
            <p-card class="flex align-items-center justify-content-around p-1">
                <div
                    class=" flex flex-column flex-grow-1 w-21rem h-25rem flex-shrink-1 flex align-items-center justify-content-around ">

                    <img class="mb-3 shadow-6" src="{{fantasyBook.image}}"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'" style="width: 10rem;" />


                    <div class="flex-column flex align-items-center justify-content-center">
                        <h4 class="mb-1">{{ fantasyBook.title }}</h4>
                        <h6 class="mt-0 mb-3">({{ fantasyBook.author }})</h6>

                        <div class="car-buttons mt-5">
                            <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-book"
                                (click)="showInfo(fantasyBook.id)"></p-button>
                            <p-button type="button" styleClass="p-button-warning p-button-rounded mr-2"
                                icon="pi pi-star"></p-button>
                        </div>
                    </div>
                </div>
            </p-card>
        </ng-template>

    </p-carousel>
    <div class="col-1"></div>
</div>
<div class="w-full flex justify-content-between align-items-center">
    <p class="flex pt-3 pl-8 font-bold text-2xl">Ciencia Ficción</p> <span class="flex mr-5" *ngIf="currentUser && currentUser.admin"> <p-button styleClass='p-button-success' 
        (click)="downloadBookData(scifiBooks, 'Ciencia Ficción')" class="h-1 mr-2" icon="pi pi-plus" label="Descargar libros"></p-button></span>
</div>
<div class="grid w-full">
    <div class="col-1"></div>
    <p-carousel class="col-10 pt-4" [value]="scifiBooks" [numVisible]="3" [numScroll]="1"
        [responsiveOptions]="responsiveOptions">

        <ng-template let-sciFiBook pTemplate="item">
            <p-card class="flex align-items-center justify-content-around p-1">
                <div
                    class=" flex flex-column flex-grow-1 w-21rem h-25rem flex-shrink-1 flex align-items-center justify-content-around ">

                    <img class="mb-3 shadow-6" src="{{sciFiBook.image}}"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'" style="width: 10rem;" />


                    <div class="flex-column flex align-items-center justify-content-center">
                        <h4 class="mb-1">{{sciFiBook.title}}</h4>
                        <h6 class="mt-0 mb-3">({{sciFiBook.author}})</h6>

                        <div class="car-buttons mt-5">
                            <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-book"
                                (click)="showInfo(sciFiBook.id)"></p-button>
                            <p-button type="button" styleClass="p-button-warning p-button-rounded mr-2"
                                icon="pi pi-star"></p-button>
                        </div>
                    </div>
                </div>
            </p-card>
        </ng-template>

    </p-carousel>
    <div class="col-1"></div>
</div>

<div class="w-full flex justify-content-between align-items-center">
    <p class="flex pt-3 pl-8 font-bold text-2xl">Romántico</p> <span class="flex mr-5" *ngIf="currentUser && currentUser.admin"> <p-button styleClass='p-button-success' 
        (click)="downloadBookData(romanticBooks, 'Romántico')" class="h-1 mr-2" icon="pi pi-plus" label="Descargar libros"></p-button> </span>
</div>
<div class="grid w-full">
    <div class="col-1"></div>
    <p-carousel class="col-10 pt-4" [value]="romanticBooks" [numVisible]="3" [numScroll]="1"
        [responsiveOptions]="responsiveOptions">

        <ng-template let-romanticBook pTemplate="item">
            <p-card class="flex align-items-center justify-content-around p-1">
                <div
                    class=" flex flex-column flex-grow-1 w-21rem h-25rem flex-shrink-1 flex align-items-center justify-content-around ">

                    <img class="mb-3 shadow-6" src="{{romanticBook.image}}"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'" style="width: 10rem;" />


                    <div class="flex-column flex align-items-center justify-content-center">
                        <h4 class="mb-1">{{romanticBook.title}}</h4>
                        <h6 class="mt-0 mb-3"> ({{romanticBook.author}})</h6>

                        <div class="car-buttons mt-5">
                            <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-book"
                                (click)="showInfo(romanticBook.id)"></p-button>
                            <p-button type="button" styleClass="p-button-warning p-button-rounded mr-2"
                                icon="pi pi-star"></p-button>
                        </div>
                    </div>
                </div>
            </p-card>
        </ng-template>

    </p-carousel>
    <div class="col-1"></div>
</div>


<div class="w-full flex justify-content-between align-items-center">
    <p class="flex pt-3 pl-8 font-bold text-2xl">Clásicos</p> <span class="flex mr-5" *ngIf="currentUser && currentUser.admin"> <p-button styleClass='p-button-success' 
        (click)="downloadBookData(classicBooks, 'Clásicos')" class="h-1 mr-2" icon="pi pi-plus" label="Descargar libros"></p-button> </span>
</div>
<div class="grid w-full">
    <div class="col-1"></div>
    <p-carousel class="col-10 pt-4" [value]="classicBooks" [numVisible]="3" [numScroll]="1"
        [responsiveOptions]="responsiveOptions">

        <ng-template let-classicBook pTemplate="item">
            <p-card class="flex align-items-center justify-content-around p-1">
                <div
                    class=" flex flex-column flex-grow-1 w-21rem h-25rem flex-shrink-1 flex align-items-center justify-content-around ">

                    <img class="mb-3 shadow-6" src="{{classicBook.image}}"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'" style="width: 10rem;" />


                    <div class="flex-column flex align-items-center justify-content-center">
                        <h4 class="mb-1">{{classicBook.title}}</h4>
                        <h6 class="mt-0 mb-3"> ({{classicBook.author}})</h6>

                        <div class="car-buttons mt-5">
                            <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-book"
                                (click)="showInfo(classicBook.id)"></p-button>
                            <p-button type="button" styleClass="p-button-warning p-button-rounded mr-2"
                                icon="pi pi-star"></p-button>
                        </div>
                    </div>
                </div>
            </p-card>
        </ng-template>

    </p-carousel>
    <div class="col-1"></div>
</div>

<app-footer></app-footer>