<app-navbar></app-navbar>


<div class="w-full flex justify-content-between align-items-center">
    <p class="flex pt-3 pl-8 font-bold text-2xl">Fantasía</p> <span class="flex mr-5"
        *ngIf="currentUser && currentUser.admin"> <p-button styleClass='p-button-success'
            (click)="downloadBookData(fantasyBooks, 'Fantasía')" class="h-1 mr-2" icon="pi pi-plus"
            label="Descargar libros"></p-button></span>
</div>




<p-carousel *ngIf="!isMobile" [value]="fantasyBooks" [numVisible]="3" [numScroll]="3" [showIndicators]="false" [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-fantasyBook pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <div (click)="showInfo(fantasyBook.id)" class="cursor-pointer">
                    <img src="{{fantasyBook.image}}" [alt]="fantasyBook.name" class="w-6 shadow-2"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'"
                        style="max-height: 15rem; max-width: 10rem; min-height: 15rem; min-width: 10rem" />
                </div>
            </div>
            <div>
                <h4 class="mb-1">{{ fantasyBook.title }}</h4>
                <h6 class="mt-0 mb-3">{{ fantasyBook.author }}</h6>

                <div class="car-buttons mt-5 ">

                    <ng-container *ngIf="currentUser && currentUser.finishedBooks != undefined; else elseFinished">
                        <ng-container *ngIf="isFinised(fantasyBook.id); else finishedTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye"
                                title="Quitar de leidos"
                                (onClick)="finisedButton(fantasyBook.id, fantasyBook.title)"></p-button>
                        </ng-container>
                        <ng-template #finishedTemplate>
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye-slash"
                                title="Guardar en leidos"
                                (onClick)="finisedButton(fantasyBook.id, fantasyBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseFinished>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star" title="Quitar de Leidos"
                            [disabled]="true"></p-button>
                    </ng-template>

                    <ng-container *ngIf="currentUser && currentUser.favouritesBooks != undefined; else elseTemplate">
                        <ng-container *ngIf="isFav(fantasyBook.id); else favTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star-fill"
                                styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                                (onClick)="favButton(fantasyBook.id, fantasyBook.title)"></p-button>
                        </ng-container>
                        <ng-template #favTemplate>
                            <p-button styleClass="p-button p-button-rounded p-button-warning mr-2" icon="pi pi-star"
                                title="Guardar en favoritos"
                                (onClick)="favButton(fantasyBook.id, fantasyBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star"
                            styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                            [disabled]="true"></p-button>
                    </ng-template>

                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<p-carousel *ngIf="isMobile" [value]="fantasyBooks" [numVisible]="1" [numScroll]="1" [showIndicators]="false" [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-fantasyBook pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <div (click)="showInfo(fantasyBook.id)" class="cursor-pointer">
                    <img src="{{fantasyBook.image}}" [alt]="fantasyBook.name" class="w-6 shadow-2"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'"
                        style="max-height: 15rem; max-width: 10rem; min-height: 15rem; min-width: 10rem" />
                </div>
            </div>
            <div>
                <h4 class="mb-1">{{ fantasyBook.title }}</h4>
                <h6 class="mt-0 mb-3">{{ fantasyBook.author }}</h6>

                <div class="car-buttons mt-5 ">

                    <ng-container *ngIf="currentUser && currentUser.finishedBooks != undefined; else elseFinished">
                        <ng-container *ngIf="isFinised(fantasyBook.id); else finishedTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye"
                                title="Quitar de leidos"
                                (onClick)="finisedButton(fantasyBook.id, fantasyBook.title)"></p-button>
                        </ng-container>
                        <ng-template #finishedTemplate>
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye-slash"
                                title="Guardar en leidos"
                                (onClick)="finisedButton(fantasyBook.id, fantasyBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseFinished>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star" title="Quitar de Leidos"
                            [disabled]="true"></p-button>
                    </ng-template>

                    <ng-container *ngIf="currentUser && currentUser.favouritesBooks != undefined; else elseTemplate">
                        <ng-container *ngIf="isFav(fantasyBook.id); else favTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star-fill"
                                styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                                (onClick)="favButton(fantasyBook.id, fantasyBook.title)"></p-button>
                        </ng-container>
                        <ng-template #favTemplate>
                            <p-button styleClass="p-button p-button-rounded p-button-warning mr-2" icon="pi pi-star"
                                title="Guardar en favoritos"
                                (onClick)="favButton(fantasyBook.id, fantasyBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star"
                            styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                            [disabled]="true"></p-button>
                    </ng-template>

                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<div class="w-full flex justify-content-between align-items-center">
    <p class="flex pt-3 pl-8 font-bold text-2xl">Ciencia Ficción</p> <span class="flex mr-5"
        *ngIf="currentUser && currentUser.admin"> <p-button styleClass='p-button-success'
            (click)="downloadBookData(scifiBooks, 'Ciencia Ficción')" class="h-1 mr-2" icon="pi pi-plus"
            label="Descargar libros"></p-button></span>
</div>

<p-carousel *ngIf="!isMobile" [value]="scifiBooks" [numVisible]="3" [numScroll]="3" [showIndicators]="false" [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-sciFiBook pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <div (click)="showInfo(sciFiBook.id)" class="cursor-pointer">
                    <img src="{{sciFiBook.image}}" [alt]="sciFiBook.name" class="w-6 shadow-2"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'"
                        style="max-height: 15rem; max-width: 10rem; min-height: 15rem; min-width: 10rem" />
                </div>
            </div>
            <div>
                <h4 class="mb-1">{{ sciFiBook.title }}</h4>
                <h6 class="mt-0 mb-3">{{ sciFiBook.author }}</h6>

                <div class="car-buttons mt-5 ">

                    <ng-container *ngIf="currentUser && currentUser.finishedBooks != undefined; else elseFinished">
                        <ng-container *ngIf="isFinised(sciFiBook.id); else finishedTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye"
                                title="Quitar de leidos"
                                (onClick)="finisedButton(sciFiBook.id, sciFiBook.title)"></p-button>
                        </ng-container>
                        <ng-template #finishedTemplate>
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye-slash"
                                title="Guardar en leidos"
                                (onClick)="finisedButton(sciFiBook.id, sciFiBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseFinished>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star" title="Quitar de Leidos"
                            [disabled]="true"></p-button>
                    </ng-template>

                    <ng-container *ngIf="currentUser && currentUser.favouritesBooks != undefined; else elseTemplate">
                        <ng-container *ngIf="isFav(sciFiBook.id); else favTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star-fill"
                                styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                                (onClick)="favButton(sciFiBook.id, sciFiBook.title)"></p-button>
                        </ng-container>
                        <ng-template #favTemplate>
                            <p-button styleClass="p-button p-button-rounded p-button-warning mr-2" icon="pi pi-star"
                                title="Guardar en favoritos"
                                (onClick)="favButton(sciFiBook.id, sciFiBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star"
                            styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                            [disabled]="true"></p-button>
                    </ng-template>

                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<p-carousel *ngIf="isMobile" [value]="scifiBooks" [numVisible]="1" [numScroll]="1" [showIndicators]="false" [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-sciFiBook pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <div (click)="showInfo(sciFiBook.id)" class="cursor-pointer">
                    <img src="{{sciFiBook.image}}" [alt]="sciFiBook.name" class="w-6 shadow-2"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'"
                        style="max-height: 15rem; max-width: 10rem; min-height: 15rem; min-width: 10rem" />
                </div>
            </div>
            <div>
                <h4 class="mb-1">{{ sciFiBook.title }}</h4>
                <h6 class="mt-0 mb-3">{{ sciFiBook.author }}</h6>

                <div class="car-buttons mt-5 ">

                    <ng-container *ngIf="currentUser && currentUser.finishedBooks != undefined; else elseFinished">
                        <ng-container *ngIf="isFinised(sciFiBook.id); else finishedTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye"
                                title="Quitar de leidos"
                                (onClick)="finisedButton(sciFiBook.id, sciFiBook.title)"></p-button>
                        </ng-container>
                        <ng-template #finishedTemplate>
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye-slash"
                                title="Guardar en leidos"
                                (onClick)="finisedButton(sciFiBook.id, sciFiBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseFinished>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star" title="Quitar de Leidos"
                            [disabled]="true"></p-button>
                    </ng-template>

                    <ng-container *ngIf="currentUser && currentUser.favouritesBooks != undefined; else elseTemplate">
                        <ng-container *ngIf="isFav(sciFiBook.id); else favTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star-fill"
                                styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                                (onClick)="favButton(sciFiBook.id, sciFiBook.title)"></p-button>
                        </ng-container>
                        <ng-template #favTemplate>
                            <p-button styleClass="p-button p-button-rounded p-button-warning mr-2" icon="pi pi-star"
                                title="Guardar en favoritos"
                                (onClick)="favButton(sciFiBook.id, sciFiBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star"
                            styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                            [disabled]="true"></p-button>
                    </ng-template>

                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<div class="w-full flex justify-content-between align-items-center">
    <p class="flex pt-3 pl-8 font-bold text-2xl">Romántico</p> <span class="flex mr-5"
        *ngIf="currentUser && currentUser.admin"> <p-button styleClass='p-button-success'
            (click)="downloadBookData(romanticBooks, 'Romántico')" class="h-1 mr-2" icon="pi pi-plus"
            label="Descargar libros"></p-button> </span>
</div>

<p-carousel *ngIf="!isMobile" [value]="romanticBooks" [numVisible]="3" [numScroll]="3" [showIndicators]="false" [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-romanticBook pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <div (click)="showInfo(romanticBook.id)" class="cursor-pointer">
                    <img src="{{romanticBook.image}}" [alt]="romanticBook.name" class="w-6 shadow-2"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'"
                        style="max-height: 15rem; max-width: 10rem; min-height: 15rem; min-width: 10rem" />
                </div>
            </div>
            <div>
                <h4 class="mb-1">{{ romanticBook.title }}</h4>
                <h6 class="mt-0 mb-3">{{ romanticBook.author }}</h6>

                <div class="car-buttons mt-5 ">

                    <ng-container *ngIf="currentUser && currentUser.finishedBooks != undefined; else elseFinished">
                        <ng-container *ngIf="isFinised(romanticBook.id); else finishedTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye"
                                title="Quitar de leidos"
                                (onClick)="finisedButton(romanticBook.id, romanticBook.title)"></p-button>
                        </ng-container>
                        <ng-template #finishedTemplate>
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye-slash"
                                title="Guardar en leidos"
                                (onClick)="finisedButton(romanticBook.id, romanticBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseFinished>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star" title="Quitar de Leidos"
                            [disabled]="true"></p-button>
                    </ng-template>

                    <ng-container *ngIf="currentUser && currentUser.favouritesBooks != undefined; else elseTemplate">
                        <ng-container *ngIf="isFav(romanticBook.id); else favTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star-fill"
                                styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                                (onClick)="favButton(romanticBook.id, romanticBook.title)"></p-button>
                        </ng-container>
                        <ng-template #favTemplate>
                            <p-button styleClass="p-button p-button-rounded p-button-warning mr-2" icon="pi pi-star"
                                title="Guardar en favoritos"
                                (onClick)="favButton(romanticBook.id, romanticBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star"
                            styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                            [disabled]="true"></p-button>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>


<p-carousel *ngIf="isMobile" [value]="romanticBooks" [numVisible]="1" [numScroll]="1" [showIndicators]="false" [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-romanticBook pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <div (click)="showInfo(romanticBook.id)" class="cursor-pointer">
                    <img src="{{romanticBook.image}}" [alt]="romanticBook.name" class="w-6 shadow-2"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'"
                        style="max-height: 15rem; max-width: 10rem; min-height: 15rem; min-width: 10rem" />
                </div>
            </div>
            <div>
                <h4 class="mb-1">{{ romanticBook.title }}</h4>
                <h6 class="mt-0 mb-3">{{ romanticBook.author }}</h6>

                <div class="car-buttons mt-5 ">

                    <ng-container *ngIf="currentUser && currentUser.finishedBooks != undefined; else elseFinished">
                        <ng-container *ngIf="isFinised(romanticBook.id); else finishedTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye"
                                title="Quitar de leidos"
                                (onClick)="finisedButton(romanticBook.id, romanticBook.title)"></p-button>
                        </ng-container>
                        <ng-template #finishedTemplate>
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye-slash"
                                title="Guardar en leidos"
                                (onClick)="finisedButton(romanticBook.id, romanticBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseFinished>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star" title="Quitar de Leidos"
                            [disabled]="true"></p-button>
                    </ng-template>

                    <ng-container *ngIf="currentUser && currentUser.favouritesBooks != undefined; else elseTemplate">
                        <ng-container *ngIf="isFav(romanticBook.id); else favTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star-fill"
                                styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                                (onClick)="favButton(romanticBook.id, romanticBook.title)"></p-button>
                        </ng-container>
                        <ng-template #favTemplate>
                            <p-button styleClass="p-button p-button-rounded p-button-warning mr-2" icon="pi pi-star"
                                title="Guardar en favoritos"
                                (onClick)="favButton(romanticBook.id, romanticBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star"
                            styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                            [disabled]="true"></p-button>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<div class="w-full flex justify-content-between align-items-center">
    <p class="flex pt-3 pl-8 font-bold text-2xl">Clásicos</p> <span class="flex mr-5"
        *ngIf="currentUser && currentUser.admin"> <p-button styleClass='p-button-success'
            (click)="downloadBookData(classicBooks, 'Clásicos')" class="h-1 mr-2" icon="pi pi-plus"
            label="Descargar libros"></p-button> </span>
</div>

<p-carousel *ngIf="!isMobile" [value]="classicBooks" [numVisible]="3" [numScroll]="3" [showIndicators]="false" [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-classicBook pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <div (click)="showInfo(classicBook.id)" class="cursor-pointer">
                    <img src="{{classicBook.image}}" [alt]="classicBook.name" class="w-6 shadow-2"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'"
                        style="max-height: 15rem; max-width: 10rem; min-height: 15rem; min-width: 10rem" />
                </div>
            </div>
            <div>
                <h4 class="mb-1">{{ classicBook.title }}</h4>
                <h6 class="mt-0 mb-3">{{ classicBook.author }}</h6>

                <div class="car-buttons mt-5 ">

                    <ng-container *ngIf="currentUser && currentUser.finishedBooks != undefined; else elseFinished">
                        <ng-container *ngIf="isFinised(classicBook.id); else finishedTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye"
                                title="Quitar de leidos"
                                (onClick)="finisedButton(classicBook.id, classicBook.title)"></p-button>
                        </ng-container>
                        <ng-template #finishedTemplate>
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye-slash"
                                title="Guardar en leidos"
                                (onClick)="finisedButton(classicBook.id, classicBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseFinished>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star" title="Quitar de Leidos"
                            [disabled]="true"></p-button>
                    </ng-template>

                    <ng-container *ngIf="currentUser && currentUser.favouritesBooks != undefined; else elseTemplate">
                        <ng-container *ngIf="isFav(classicBook.id); else favTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star-fill"
                                styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                                (onClick)="favButton(classicBook.id, classicBook.title)"></p-button>
                        </ng-container>
                        <ng-template #favTemplate>
                            <p-button styleClass="p-button p-button-rounded p-button-warning mr-2" icon="pi pi-star"
                                title="Guardar en favoritos"
                                (onClick)="favButton(classicBook.id, classicBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star"
                            styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                            [disabled]="true"></p-button>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>


<p-carousel *ngIf="isMobile" [value]="classicBooks" [numVisible]="1" [numScroll]="1" [showIndicators]="false" [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-classicBook pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <div (click)="showInfo(classicBook.id)" class="cursor-pointer">
                    <img src="{{classicBook.image}}" [alt]="classicBook.name" class="w-6 shadow-2"
                        onerror="this.src='../../../../assets/images/photoNotFound.png'"
                        style="max-height: 15rem; max-width: 10rem; min-height: 15rem; min-width: 10rem" />
                </div>
            </div>
            <div>
                <h4 class="mb-1">{{ classicBook.title }}</h4>
                <h6 class="mt-0 mb-3">{{ classicBook.author }}</h6>

                <div class="car-buttons mt-5 ">

                    <ng-container *ngIf="currentUser && currentUser.finishedBooks != undefined; else elseFinished">
                        <ng-container *ngIf="isFinised(classicBook.id); else finishedTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye"
                                title="Quitar de leidos"
                                (onClick)="finisedButton(classicBook.id, classicBook.title)"></p-button>
                        </ng-container>
                        <ng-template #finishedTemplate>
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-eye-slash"
                                title="Guardar en leidos"
                                (onClick)="finisedButton(classicBook.id, classicBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseFinished>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star" title="Quitar de Leidos"
                            [disabled]="true"></p-button>
                    </ng-template>

                    <ng-container *ngIf="currentUser && currentUser.favouritesBooks != undefined; else elseTemplate">
                        <ng-container *ngIf="isFav(classicBook.id); else favTemplate">
                            <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star-fill"
                                styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                                (onClick)="favButton(classicBook.id, classicBook.title)"></p-button>
                        </ng-container>
                        <ng-template #favTemplate>
                            <p-button styleClass="p-button p-button-rounded p-button-warning mr-2" icon="pi pi-star"
                                title="Guardar en favoritos"
                                (onClick)="favButton(classicBook.id, classicBook.title)"></p-button>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p-button styleClass="p-button p-button-rounded mr-2" icon="pi pi-star"
                            styleClass="p-button-rounded p-button-warning" title="Quitar de favoritos"
                            [disabled]="true"></p-button>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<app-footer></app-footer>